<section class="card">
 
  <header>{{character_name}}{{character.avatar}}</header>
   
    <p>Race: {{race.race_name}}</p>
    <p>Class: {{class.class_name}}</p>
    <p>{{#each attributes as |attribute|}}
        {{> attribute}}
       {{/each}}
    </p>

    <div class="col-md-4">
      <a class="btn btn-sm btn-danger" data-id="{{character.id}}">Delete</a>
      <a class="btn btn-sm btn-danger" data-id="{{character.id}}" href="/update/{{id}}">Update</a>
    </div>

</section>