<section class="card">
  <a href="/character/{{id}}">
    <header>{{character_name}}</header>
      <p>{{strength}}</p>
      <p>{{dexterity}}</p>
      <p>{{constitution}}</p>
      <p>{{wisdom}}</p>
      <p>{{intelligence}}</p>
      <p>{{strength}}</p>

    <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{character.id}}">DELETE</button>
    </div>
    
  </a>
</section>