<link rel="stylesheet" href="/css/create.css" />
<div id="create-character">

  <div class="page" id="page-name">
    <h3>Your Character's Name:</h3>
    <div class="">
      <input class="" type="text" id="character-name" />
      <label for="character-name">Name</label>
    </div>
    <button data-page="page-race">Next</button>
  </div>

  <div class="page" id="page-race" hidden>
    <h1>Select a race:</h1>
    <div id="races" class="grid grid-cols-1">
      {{#each races as |race|}}
        <button
          data-id={{race.id}}
          data-description="{{race.description}}"
          data-name={{race.race_name}}
        >{{race.race_name}}</button>

      {{/each}}
    </div>
    <div id="race-info" hidden>
      <p class="info"></p>
    </div>
    <button data-page="page-name">Back</button>
    <button data-page="page-class">Next</button>
  </div>

  <div class="page" id="page-class" hidden>
    <h1>Select a class:</h1>
    <div id="classes" class="grid grid-cols-1">
      {{#each classes as |class|}}
        <button
          data-id={{class.id}}
          data-description="{{class.description}}"
          data-name={{class.class_name}}
        >{{class.class_name}}</button>

      {{/each}}
    </div>
    <div id="class-info" hidden>
      <p class="info"></p>
    </div>
    <button data-page="page-race">Back</button>
    <button data-page="page-attributes">Next</button>
  </div>

  <div class="page" id="page-attributes" hidden>
    <div class="container flex flex-col items-center mb-3">
      {{! Dice Animation }}
      <div
        class="grid grid-cols-4 w-full max-w-[700px] place-items-center"
        id="dice-animation-container"
      >
      </div>

      {{! Attribute Rolls }}
      <div class="grid grid-cols-3 gap-0 sm:gap-5 mb-3 w-full">
        {{#each attributes as |attribute|}}
          <div
            class="roll flex w-full max-w-[150px] h-full aspect-[7/6] border-2 border-slate-200 rounded-lg p-1 sm:p-3 place-self-center"
            data-id={{attribute.id}}
          >
            <button
              class="roll-btn text-center place-self-center w-full h-full"
            >Click to Roll</button>

            {{! Can't display flex here as it over-rides the 'hidden' attribute }}
            <div class="roll-container h-full w-full" hidden>
              <div class="flex items-center justify-center h-2/3">
                <p class="display text-6xl pointer-events-none"></p>
              </div>
              <select
                data-id={{attribute.id}}
                class="available-attributes w-full"
              >
                <option value="default" selected>--select--</option>
                {{#each attribute.diceAttributes as |diceAttribute|}}
                  <option
                    value={{diceAttribute.id}}
                  >{{diceAttribute.name}}</option>
                {{/each}}
              </select>
            </div>

          </div>
        {{/each}}
      </div>

      {{! Attribute Assigning }}
      <div class="grid grid-cols-3 lg:grid-cols-6 w-full place-items-center">
        {{#each attributes as |attribute|}}
          <div
            class="relative flex w-full max-w-[150px] h-full aspect-[7/8] attribute-frame p-[10%]"
            data-id="{{attribute.id}}"
          >
            <div
              class="flex flex-col justify-center w-full h-full display-value"
            >
              <p
                data-id={{attribute.id}}
                class="assigned-dice text-5xl text-center text-inherit value-p-text h-24 mt-3"
              ></p>
              <p class="text-center text-sm sm:text-md">{{attribute.name}}</p>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <button data-page="page-class">Back</button>
    <button id="create-btn">Create Character</button>
  </div>
</div>

<script type="module" src="/js/create.js"></script>