<link rel="stylesheet" href="/css/create.css" />
<div id="create-character">

  <div class="page" id="page-name">

    <h3>Your Character's Name:</h3>
    <div class="">
      <input class="" type="text" id="character-name" />
      <label for="character-name">Name</label>
    </div>
    <button data-page="page-race">Next</button>
  </div>

  <div class="page" id="page-race" hidden>
    <h1>Select a race:</h1>
    <div id="races" class="grid grid-cols-1">
      {{#each races as |race|}}

        <button
          data-race={{race.id}}
          data-description="{{race.description}}"
          data-name={{race.race_name}}
        >{{race.race_name}}</button>

      {{/each}}
    </div>
    <div id="race-info" hidden>
      <p class="info"></p>
    </div>
    <button data-page="page-name">Back</button>
    <button data-page="page-class">Next</button>
  </div>

  <div class="page" id="page-class" hidden>
    <h1>Select a class:</h1>
    <div id="classes" class="grid grid-cols-1">
      {{#each classes as |class|}}
        <button
          data-class={{class.id}}
          data-description="{{class.description}}"
          data-name={{class.class_name}}
        >{{class.class_name}}</button>

      {{/each}}
    </div>
    <div id="class-info" hidden>
      <p class="info"></p>
    </div>
    <button data-page="page-race">Back</button>
    <button data-page="page-attributes">Next</button>
  </div>

  <div class="page" id="page-attributes" hidden>
    <div class="container w-fit">
      <div class="grid grid-cols-[repeat(3,_150px)] gap-5">
        {{#each attributes as |attribute|}}
          <div
            class="dice w-full h-full aspect-square border-2 border-slate-200 rounded-lg p-3"
            data-id={{attribute.id}}
          >
            <button class="roll">Roll</button>
            <div class="roll-container flex flex-col h-full w-full" hidden>
              <div class="flex w-full justify-evenly gap-2">
                <div
                  class="flex text-xl justify-center items-center individual-roll border-[1px] rounded-md border-slate-300 w-full"
                ></div>
                <div
                  class="flex text-xl justify-center items-center individual-roll border-[1px] rounded-md border-slate-300 w-full"
                ></div>
                <div
                  class="flex text-xl justify-center items-center individual-roll border-[1px] rounded-md border-slate-300 w-full"
                ></div>
                <div
                  class="flex text-xl justify-center items-center individual-roll border-[1px] rounded-md border-slate-300 w-full"
                ></div>
              </div>
              <div class="flex items-center justify-center flex-1">
                <p class="display text-4xl" draggable="true">9</p>
              </div>
              <select
                data-id={{attribute.id}}
                class="available-attributes w-full"
              >
                <option value="default" selected>--attribute--</option>
                {{#each attribute.diceAttributes as |diceAttribute|}}
                  <option
                    value={{diceAttribute.id}}
                  >{{diceAttribute.name}}</option>
                {{/each}}
              </select>
            </div>

          </div>
        {{/each}}
      </div>
    </div>
    <div class="flex">
      {{#each attributes as |attribute|}}
        <div
          class="relative flex w-full max-w-[150px] h-full aspect-[4/5] attribute-frame p-3"
        >
          <div class="flex flex-col justify-center w-full h-full display-value">
            <p
              data-id={{attribute.id}}
              class="assigned-dice text-5xl text-center text-inherit value-p-text"
            ></p>
            <p class="text-center text-md sm:text-lg">{{attribute.name}}</p>
          </div>
        </div>
      {{/each}}
    </div>
    <button data-page="page-class">Back</button>
    <button id="create-btn">Create Character</button>
  </div>
</div>

<script src="./js/create.js"></script>