<link rel="stylesheet" href="/css/create.css" />
<div id="create-character">

  <div class="page" id="page-name">

    <h3>Your Character's Name:</h3>
    <div class="">
      <input class="" type="text" id="character-name" />
      <label for="character-name">Name</label>
    </div>
    <button data-page="page-race">Next</button>
  </div>

  <div class="page" id="page-race" hidden>
    <h1>Select a race:</h1>
    <div id="races" class="grid grid-cols-1">
      {{#each races as |race|}}

        <button data-race={{race.id}} data-description="{{race.description}}" data-name={{race.race_name}}>{{race.race_name}}</button>
        
      {{/each}}
    </div>
    <div id="race-info" hidden>
      <p class="info"></p>
    </div>
    <button data-page="page-name">Back</button>
    <button data-page="page-class">Next</button>
  </div>

  <div class="page" id="page-class" hidden>
    <h1>Select a class:</h1>
    <div id="classes" class="grid grid-cols-1">
      {{#each classes as |class|}}
        <button data-class={{class.id}} data-description="{{class.description}}" data-name={{class.class_name}}>{{class.class_name}}</button>

      {{/each}}
    </div>
    <div id="class-info" hidden>
      <p class="info"></p>
    </div>
    <button data-page="page-race">Back</button>
    <button data-page="page-attributes">Next</button>
  </div>

  <div class="page" id="page-attributes" hidden>
    <div class="grid grid-cols-3">
      {{#each attributes as |attribute|}}
        <div class="dice w-20 h-full" data-id={{attribute.id}}>
          <h3>Dice</h3>
          <button class="roll">Roll</button>
          <div class="roll-container" hidden>
            <div class="flex">
              <div class="individual-roll w-6 h-6"></div>
              <div class="individual-roll w-6 h-6"></div>
              <div class="individual-roll w-6 h-6"></div>
              <div class="individual-roll w-6 h-6"></div>
            </div>
            <p class="display" draggable="true"></p>
            <select class="available-attributes">
              <option>none</option>
              {{#each attribute.diceAttributes as |diceAttribute|}}
                <option
                  value={{diceAttribute.id}}
                >{{diceAttribute.name}}</option>
              {{/each}}
            </select>
          </div>

        </div>
      {{/each}}
    </div>
    <div class="flex">
      {{#each attributes as |attribute|}}
        <p>{{attribute.name}}</p>
        <div class="drop-zone h-20 w-20 bg-slate-200">Drop Zone</div>
        <p data-id={{attribute.id}} class="assigned-dice"></p>
        {{> attribute-frame}}
      {{/each}}
    </div>
    <button data-page="page-class">Back</button>
    <button id="create-btn">Create Character</button>
  </div>
</div>

<script src="./js/create.js"></script>