<link rel="stylesheet" href="/css/homepage.css" />

<div
  class="preview_box mx-auto grid grid-rows-[min-content,_minmax(0,_1fr)] h-full p-5 overflow-scroll"
>
  <div class="flex flex-row">
    <img src="/images/welcome.jpg" style="width:15%" />
    <h2 class="font-bold text-3xl mt-5">{{first_name}}!</h2>
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-[300px,_minmax(0,_1fr)] md:grid-rows-1 h-full gap-5"
  >
    {{! LIST BOX }}
    <div
      class="grid grid-rows-[50px,_minmax(0,_1fr),_30px] p-3 w-full h-full max-w-3xl border-2 border-zinc-200"
    >
      <h3 class="text-2xl font-bold text-center mt-3">Characters</h3>
      <div
        id="characters"
        class="grid grid-rows-[min-content,_40px,_minmax(0,_1fr)] mt-2 h-full overflow-hidden"
      >
        {{! CREATE A NEW CHARACTER }}
        <a
          class="peer text-center text-2xl w-full hover:scale-[1.03] hover:font-bold"
          type="submit"
          href="/create"
        >Create a Character</a>
        <img
          class="-mt-1 mb-12 peer-hover:translate-y-[2px] transition-all"
          src="/images/underline.png"
          alt=""
        />

        {{! CHARACTER LIST }}
        <div
          id="character-list"
          class="grid auto-rows-min gap-1 w-full h-full place-items-center overflow-auto"
        >
          {{#if characters.length}}
            {{#each characters as |character|}}
              <button
                class="sketch text-xl w-full max-w-[300px] py-3 px-5 hover:scale-[1.02] bg-transparent transition-all"
                data-id="{{character.id}}"
                data-name="{{character.character_name}}"
                data-avatar="{{character.avatar}}"
                data-class="{{character.class.class_name}}"
                data-race="{{character.race.race_name}}"
                data-bio="{{character.character_description}}"
              >
                {{character.character_name}}
              </button>
            {{/each}}
          {{/if}}
        </div>
      </div>
      <div class="relative mt-3">

        <img
          class="absolute bottom-0 w-full"
          src="/images/underline.png"
          alt=""
        />
      </div>
    </div>

    {{! PREVIEW BOX }}
    <section class="h-full border-zinc-200 border-2">
      <div id="preview" hidden>

        <div
          class="relative grid grid-rows-[min-content,_min-content,_minmax(0,_1fr)] h-full p-5 gap-5"
        >

          {{! PREVIEW HEADER }}

          <div class="h-full">
            <div class="flex max-h-[50vh] overflow-scroll">
              {{! NAME and CLASS }}
              <div class="flex flex-col flex-grow">
                <h2 class="text-4xl"><span
                    id="selected-character-name"
                  ></span></h2>
                <h2>Race:
                  <span id="selected-character-race"></span>
                </h2>
                <h2>Class:
                  <span id="selected-character-class"></span>
                </h2>
                {{! BUTTONS }}
                <div class="flex h-full items-end">
                  <div
                    class="flex flex-col justify-center w-full gap-2 xl:gap-10 h-fit"
                  >
                    {{! <a id="selected-character-view" href="#"><button
                        class="fancy yellow w-[200px] max-w-[150px] lg:max-w-[200px] p-2"
                      >View</button>
                    </a> }}
                    <a id="selected-character-edit" class="" href="#"><button
                        class="fancy yellow w-[200px] max-w-[150px] lg:max-w-[200px] p-2"
                      >
                        Edit
                      </button></a>

                  </div>
                </div>
              </div>
              {{! IMAGE }}
              <div
                class="relative w-1/2 max-w-[300px] aspect-square rounded-lg overflow-hidden"
              >
                <img
                  class="absolute w-full h-full object-fill top-0 left-0"
                  src="/images/button.png"
                  alt=""
                />
                <img
                  class="w-full h-full object-cover rounded-lg pl-[2%] pt-[7%] pb-[9%] pr-[4%]"
                  id="selected-character-avatar"
                  src=""
                  alt=""
                />

              </div>

            </div>
          </div>
          <div class="w-full grid grid-cols-3 lg:grid-cols-6 mt-5">
            {{#if attributes.length}}
              {{#each attributes as |attribute|}}
                <div class="grid place-items-center display-value">
                  <div
                    class="w-full max-w-[130px] aspect-[5/6] flex flex-col justify-center attribute-frame"
                  >
                    <p
                      id="selected-character-attribute-{{attribute.id}}"
                      class="text-5xl text-center text-inherit value-p-text"
                    ></p>
                    <p
                      class="text-center text-md sm:text-lg"
                    >{{attribute.name}}</p>
                  </div>
                </div>
              {{/each}}
            {{/if}}

          </div>

          {{! SCROLLABLE BODY }}
          <div
            id="selected-character-bio"
            class="h-full overflow-auto border-2 border-zinc-200"
          >
          </div>
        </div>
      </div>
    </section>
  </div>

</div>

<script src="/js/homepage.js"></script>