<div class="create_new">
    <div class="character-first-box" id="character-first-box">
        <form class="update-character-form">
        <h3>Update your Character</h3>
        <div class="user-box">
            <input class="form-input" value="{{character_name}}" type="text" id="character-name"  name="" required="" />
            <label for="character-name">Name</label>
        </div>
        <div class="user-box">
            <input class="form-input" value="{{character_class}}" type="text" id="character-class" name="" required="" />
            <label for="character-class">Class</label>
        </div>
        <div class="user-box">
            <input class="form-input" value="{{character_race}}" type="text" id="character-race" name="" required=""/>
            <label for="character-race">Race</label>
        </div>
        <div class="user-box">
            <input class="form-input" value="{{hit_poins}}" type="text" id="hit-points" name="" required="" />
            <label for="hit-points">Hit Points</label>
        </div>
        <div class="user-box">
            <input class="form-input" value="{{strength}}" type="text" id="strength" name="" required="" />
            <label for="strength">Strength</label>
        </div>
        <div class="user-box">
            <input class="form-input" value="{{constitution}}" type="text" id="constitution" name="" required="" />
            <label for="constitution">Constitution</label>
        </div>
        <div class="user-box">
            <input class="form-input" value="{{dexterity}}" type="text" id="dexterity" name="" required="" />
            <label for="dexterity">Dexterity</label>
        </div>
        <div class="user-box">
            <input class="form-input" value="{{wisdom}}" type="text" id="wisdom" name="" required="" />
            <label for="wisdom">Wisdom</label>
        </div>
        <div class="user-box">
            <input class="form-input" value="{{intelligence}}" type="text" id="intelligence" name="" required="" />
            <label for="intelligence">Intelligence</label>
        </div>    
        <a class="btn_submit" href="/homepage">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Back
        </a>
        <a class="btn_signup" type="submit" href="/homepage">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Update
        </a>        
        </form>
    </div>
</div>

  <!-- Render script for logged in users only -->

  <script src="./js/update.js"></script>


</body>
